* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   /* outline: solid 1px ;*/
}

.encabezado {
    width: 100%;
    background-color: grey;
    padding: 20;
}

.titulo_header {
    text-align: center;
    color: white;
}

.container {
    outline: solid 1px grey;
    margin: 0 auto;
    width: 900px;
    padding: 20px;
}
.row {
    padding: 30px;
}
/*

*/ 
.aceptar {
    width: 100px;
    height: 50px;
}

.caja1 {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    background-color: green;
}

.parrafo1 {
    font-size: 50px;
}

.link1 {
    font-size: 120%;
}

.cursiva {
    color: aqua;
    margin: 15px;
    font-style: italic;
}

/*
📦 Manejo del contenido con overflow: hidden; scroll, auto
*/
.caja {
    width: 200px;
    height: 100px;
    display: inline-block;
}

.example1 {
    width: 300px;
    height: 100px;
    background-color: blue;
}

.example2 {
    width: 300px;
    height: 100px;
    background-color: aqua;
}

.example3 {
    width: 300px;
    height: 100px;
    background-color: blueviolet;
}

.hidden {
    overflow: hidden
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}
/*f */
.banner {
    height: 570px;
    width: 100%;
   background: green url("/STACK_CSS/06_tamanos/static/images/banner.png") no-repeat fixed center center;
   background-size: 120%;
}
.cancelar {
   border: 2px dotted rgb(255, 0, 0);
   
   padding: 20;
}

.articulo {
   border: 2px solid black;
   height: 50;
   width: 100;
   display:inline-block
}
/*🟢 Bordes redondeados*/
.boton_redondeado {
    padding: 10px 40px;
   border-radius: 15px;
   cursor: pointer;
}

.caja_redondeada{
    height: 40px;
    width: 40px;
    padding: 10px 16px;
    background-color: darkgreen;
    font-weight: bold;
    color: chartreuse;
   border-radius: 50%;
}
.cajitas {
    width: 150;
    height: 40;
    outline: solid 1px rebeccapurple;

}
.box1 {
    background-color: royalblue;
    padding: 10px;
}
.box2 {
    background-color: wheat;
    padding-top: 0px;   /*Espacio interno: arriba*/
    padding-right: 5px; /*Espacio interno: deracha*/
    padding-bottom: 0px;    /*Espacio interno: abajo*/
    padding-left: 5px;  /*Espacio interno: izquierda*/
    /*padding: 0px 5px 0px 5px--> aplicando en todos los lados*/
    /*padding: 0px 5px --> en (Y) y (X)*/
}
.box3 {
    background-color: hotpink;
    margin: 10px;

}
.box4 {
    background-color: darkblue;
    margin: 0px 20px;
    padding: 5px 0px;
}
.box5 {
   float: left;
   width: 50%;
}