* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: solid 1px red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #2C3E50;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.664);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.cerrar-sesion {
    background-color: #216FEB;
    color: aliceblue;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}

/* Contenedor Principal ------------------------------------------------ */
.contenedor-principal {
    display: flex;
    gap:30px;
    padding: 100px 200px;

}
.izquierda{
flex:2;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 15px black;
    border-radius: 20px;
    overflow: hidden;
}

.box-1 {
    width: 100%;
    height: 150px;
    background-color: #3498DB;
}

.box-2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    height: 380px;
    position: relative;
}

.Foto_perfil {
    height: 180px;
    padding: 20px 20px;
    border-radius: 50%;
    position: absolute;
    top: -90px;
}

.box-2 p {
    margin: 0px 25px;
}

.derecha {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}

.tarjeta-conexiones {
    display: flex;
    background-color: #fff;
    box-shadow: 0 5px 15px black;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.persona{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Botones{
    display: flex;
   align-items: center;
   gap: 10px;
}
.Foto_perfil-Two {
    height: 60px;
    padding: 20px 20px;
    border-radius: 50%;
}

.ver_mas {
    border-style: none;
    color: #216FEB;
    border: solid 1px royalblue;
}